{% extends 'base.html' %} {% load static %} {% block title %}Grades{% endblock title %} {% block content %}

<div class="container">
  <div class="row">
    <h2 class="mt-4 mb-4">Assign Grades</h2>
    <hr />
    <form method="POST" action="{% url 'grade' %}">
      {% csrf_token %} {% for lesson in teacher.lesson_of_teacher.all %}
      <div class="card">
        <div class="card-header text-center">
          <strong>{{ lesson.title }}</strong>
        </div>
        <ul class="list-group list-group-flush">
          {% for student in students %} {% if lesson in student.student_lessons.all %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-6 text-center">{{ student.user.first_name }} {{ student.user.last_name }}</div>
              <div class="col-md-3">
                <select name="grade" class="form-control">
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                </select>
              </div>
            </div>
          </li>

          {% endif %} {% endfor %}
        </ul>
      </div>
      <br />
      {% endfor %}
      <div class="row justify-content-center">
        <div class="col-md-2 text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
