{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}{% block title %}My Future{% endblock title %}
{% block content %}
<form method="POST" action="{% url 'student_future' %}">
  {% csrf_token %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h3>My Future {{ suggested_career }} | {{ accuracy_score }}</h3>
      </div>
    </div>
    <hr />

    <div class="row">
{{ form|crispy}}
      <div class="col-md-6 mt-3">
        <button type="submit" class="btn btn-info">Predict My Future</button>
      </div> {% comment %}
      <div class="col-md-4">{{ form.projects|as_crispy_field }}</div>
      <div class="col-md-4">{{ form.interest_domain|as_crispy_field }}</div>
      <div class="col-md-4">
        {{ form.python|as_crispy_field }} {{ form.sql|as_crispy_field }} {{ form.java|as_crispy_field }}
      </div>
      {% endcomment %}
    </div>
  </div>
</form>
{% endblock content %}
