{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}{% block title %}My Future{% endblock title %}
{% block css_files %}
<style>
  .is-placed {
    text-align: right;
    color: green;
  }
  .not-placed {
    text-align: right;
    color: red;
  }
</style>
{% endblock css_files %} {% block content %}
<form method="POST" action="{% url 'student_future' %}">
  {% csrf_token %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <h3>Will they hire me?</h3>
      </div>
      <div class="col-md-8">
        {% if is_placed %}
        <div class="is-placed">
          <h4>{{ result_message }}</h4>
        </div>
        {% else %}
        <div class="not-placed">
          <h4>{{ result_message }}</h4>
        </div>
        {% endif %}
      </div>
    </div>
    <hr />

    <div class="row">
      {{ form|crispy}}
      <div class="col-md-6 mt-3">
        <button type="submit" class="btn btn-info">Predict My Future</button>
      </div>
    </div>
  </div>
</form>
{% endblock content %}
