{% extends 'base.html' %} {% load static %} {% block title %} Syllabus {% endblock title %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4">Syllabus</h2>
      <hr />
      {% if student is None %}
      <p>
        You have not been assigned to any department yet. Please contact the
        administrator
      </p>
      
      {% elif student.student_ects == 0 %} 
      {% include 'teacherapp/partials/_selection.html' %} {% else %} 
      {% include 'teacherapp/partials/_viewing.html' %} {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
