{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags%} {% block title %} Syllabus {% endblock title %} {% block css_files %}  
    <style>
        .schedule-table th, .schedule-table td {
            text-align: center;
            vertical-align: middle;
            height: 70px;
        }
        .time-slot {
            background-color: #f8f9fa;
        }
    </style>
    {% endblock css_files %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="mt-4">Syllabus</h2>
      <hr />
      {% if student.department_of_student is None %}
      <p>You have not been assigned to any department yet. Please contact the administrator.</p>

      {% elif student.student_ects == 0 %} {% include 'teacherapp/partials/_selection.html' %} {% else %} {% include 'teacherapp/partials/_viewing.html' %} {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
